.venv/
__pycache__/
*.pyc
.env
.env.*
.DS_Store

database/base/
database/global/
database/pg_wal/
database/pg_xact/
database/pg_logical/
database/pg_multixact/
database/pg_subtrans/
database/pg_stat_tmp/
database/pg_dynshmem/
database/pg_notify/
database/pg_replslot/
database/pg_serial/
database/pg_snapshots/
database/pg_stat/
database/pg_tblspc/
database/pg_twophase/
database/postmaster.pid
database/postmaster.opts
database/pg_internal.init
database/pg_filenode.map
database/pg_hba.conf
database/pg_ident.conf
database/postgresql.auto.conf
database/postgresql.conf
database/PG_VERSION
